# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg

# Environment variables
.env
.env.local

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Frontend

/frontend/node_modules