# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg

#pytest related
*.coverage
*.pytest_cache

# Environment variables
.env
.env.local

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
