# server / fastapi
asyncio
uvicorn
fastapi
websockets
redis
pydantic
pydantic-settings
pytest
python-dotenv

# protocols i guess
httpx

# backend data handling
celery
flower
pandas
numpy
ccxt

# shared
alembic
SQLAlchemy
psycopg2
